<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая статья</title>
</head>
<body>
<h1>Создать новую статью</h1>

<form th:action="@{/article/new}" th:object="${article}" method="post" enctype="multipart/form-data">
    <label>Заголовок:</label>
    <input type="text" th:field="*{title}" required/><br/>

    <label>Источник:</label>
    <input type="text" th:field="*{source}" required/><br/>

    <label>Контент:</label>
    <textarea th:field="*{content}" required></textarea><br/>

    <label>Фрагменты кода:</label>
    <textarea name="codeBlock"></textarea>
    <button type="button" onclick="addCodeBlock()">Добавить ещё</button><br/>

    <label>Изображения:</label>
    <input type="file" name="imageFile" multiple/><br/>

    <button type="submit">Сохранить</button>
</form>

<script>
    function addCodeBlock() {
        const area = document.createElement("textarea");
        area.name = "codeBlock";
        document.forms[0].insertBefore(area, document.forms[0].children[document.forms[0].children.length - 2]);
    }
</script>

<a href="/">Назад</a>
</body>
</html>